.notesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.addButton:hover {
  background-color: darkgreen;
}
